@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

strong,
b {
  font-weight: bold;
}

@font-face {
  font-family: "LUI icons";
  src: url(/node_modules/leonardo-ui/dist/lui-icons.woff) format('woff'),
    url(/node_modules/leonardo-ui/dist/lui-icons.ttf) format('truetype');
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  body {
    /* display: flex; */
    place-items: center;
  }

  #app {
    width: 100%;
    padding: 0;
    ;
  }
}